################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalculatorAPI/CalculatorAPI/bin/Debug/net6.0
/CalculatorAPI/CalculatorAPI/obj
/CalculatorAPI/.vs
